<a href="https://colab.research.google.com/github/aisriniml/Python-Basics/blob/Notebook-edits/Py_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datatype & Variables

Variables are named locations which are used to store references to the object stored in memory. The names we choose for variables and functions are commonly known as Identifiers. In python Identifiers must obey the following rules.

1. All identifiers must start with letter or underscore ( _ ) , you can’t use digits. For e.g my_var    is valid identifier while 1digit  is not.
2. Identifiers can contain letters, digits and underscores ( _  ).
They can be of any length.
3. Identifier can’t be a keyword (keywords are reserved words that Python uses for special purpose).Following are Keywords in python 3

**False  ,    class,      finally  ,  is,         return,
None  ,     continue,   for ,       lambda  ,   try,
True  ,     def ,       from    ,   nonlocal ,  while,
and,        del,        global  ,   not  ,      with,
as,         elif,       if       ,  or ,        yield,
pass    ,   else     ,  import  ,   assert,
break   ,   except  ,   in   ,      raise**

# Assigning Values to Variables

In [0]:
is=2

SyntaxError: ignored

In [0]:
x = 100                       # x is integer
pi = 3.14                     # pi is float
empname = "python is great"   # empname is string
 
a = b = c = 100 # this statement assign 100 to c, b and a.

# Simultaneous Assignments

In [0]:
var1, var2, varn = 1, 2, 3

In [0]:
x = 1
y = 2
y, x = x, y

# Python Data Types

Python has 5 standard data types namely.

1. **Numbers**
2. **String**
3.  **List**
4. **Tuple**
5. **Dictionary**
6.  **Boolean** – In Python True and False  are boolean literals.  But the following values are also considered as false.

# Receiving input from user

In [0]:
name = input("Enter your name: ")
name

Enter your name: 123

'123'

# Importing modules

Python organizes codes using module. Python comes with many in built modules ready to use for e.g there is a math  module for mathematical related functions, re  module for regular expression and so on. But before you can use them you need to import them using the following syntax:

import **module_name**

You can also import multiple module using the following syntax:

import **module_name_1, module_name_2**

In [0]:
import math
math.pi

3.141592653589793

First line import all functions, classes, variables, constant in the math  module. To access anything inside math module we first need to write module name followed by ( . ) and then name of class, function, constant or variable. In the above example we are accessing a constant called pi  in math  module